html,body
{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu",sans-serif;
}

.name
{

    font-size: 20px;
    height:60px;
    margin-top: 10px;
    line-height: 60px;
    text-align: center;
    font-family: "Droid Sans Mono",sans-serif;
}

.name-container
{
    background-color: cornflowerblue;
    font-size: 20px;
    height:60px;
    margin-top: 10px;
    line-height: 60px;
    text-align: center;
}
.animation-switch
{
    background-color: cornflowerblue;
    font-size: 20px;
    height:60px;
    margin-top: 10px;
    line-height: 60px;
    text-align: center;

}

.animation-range
{
    height:60px;
    margin-top: 30px;
}

.control-left
{
    color: #bc3638;
}

.control-right
{
    float: right;
    margin-top: -20px;
    color: #2a7321;
}

.name-container1,.animation-switch1
{
    background-color: coral;
}
.name-container2,.animation-switch2
{
    background-color: cornflowerblue;
}
.name-container3,.animation-switch3
{
    background-color: turquoise;
}
.name-container4,.animation-switch4
{
    background-color: violet;
}
.name-container5,.animation-switch5
{
    background-color: yellowgreen;
}
.name-container6,.animation-switch6
{
    background-color: slateblue;
}
.name-container7,.animation-switch7
{
    background-color: salmon;
}

